* {
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    background-color: rgb(11, 69, 87);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 8vh;
    margin-bottom: 10px;
}

.header-title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    display: flex;
    margin: 3px;
    margin-top: 25px;
}

.header a {
    text-decoration: none;
    color: white;
}

#shop-link {
    font-size: 40px;
}

#cart-icon {
    font-size: 40px;
    margin-right: 10px;
}

/* Shop Page */

.car-part {
    border: 1px solid rgba(0, 0, 0, 0.651);
    width: fit-content;
    margin: 0.5rem;
    padding: 10px;
}

.car-parts {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border: 2px solid black;
    justify-content: center;
    overflow-y: scroll;
    height: 85vh;
}

.part-image {
    width: 250px;
    height: 250px;
    background-color: rgb(6, 112, 112);
    margin: auto;
}

.name-price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part-name {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.part-price {
    font-size: 25px;
    font-weight: bold;
}

.part-manufacturer {
    font-size: 16px;
}

.count-div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
    align-items: center;
    width: 100%;
}

.quantity {
    align-items: center;
    gap: 5px;
}

.quantity p {
    font-size: 20px;
}

.count {
    width: 25px;
    height: 25px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.add-button {
    padding: 5px;
    width: 120px;
    height: 40px;
    border-radius: 7px;
    font-size: 16px;
}

.delete-button {
    height: 25px;
}

.cart {
    position: relative;
    border: 1px solid black;
    width: 20%;
    max-height: 30rem;
    background-color: white;
    box-sizing: border-box;
    padding: 2px;
}

.cart-items {
    height: 90%;
    overflow: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 5px;
    height: 50px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.562);
}

.total-checkout-div {
    height: 10%;
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    align-items: center;
}

#total {
    font-size: 20px;
    width: 50%;
    margin: 0;
    height: 3rem;
    background-color: white;
    text-align: center;
    line-height: 3rem;
    box-sizing: border-box;
    border-left: 1px solid black;
}

#checkout {
    width: 50%;
    height: 90%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    line-height: 200%;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 20px;
}


/* Checkout Page */

.two-column {
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%);
    column-gap: 10px;
}

.three-column {
    display: grid;
    grid-template-columns: fit-content(33%) fit-content(33%) fit-content(33%);
    column-gap: 10px;
}

.checkout-page {
    margin: 10px;
    overflow: auto;
}

#customer-info,
#payment-info {
    display: grid;
    row-gap: 10px;
    margin-bottom: 20px;
}

.input-div input {
    width: 200px;
    height: 25px;
}

.address {
    column-gap: 20px;
    row-gap: 10px;
}

#shipping-address-div,
#billing-address-div {
    grid-column: span 3;
}

#card-number-div,
#card-name-div {
    grid-column: span 2;
}

#shipping-state,
#billing-state {
    width: 35px;
}

#shipping-zip-code,
#billing-zip-code {
    width: 100px;
}

#shipping-address,
#billing-address {
    width: 300px;
}

#card-info {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
}

#card-holder-name {
    width: 250px;
}

#card-number {
    width: 250px;
}

#cvc {
    width: 50px;
}

#expiration-date input {
    width: 40px;
}

#place-order {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}

#error {
    color: rgb(194, 5, 5);
    font-size: 25px;
    border: 2px solid red;
    width: 20%;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/* Cart Page */

#cart-page {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    position: relative
}

#cart-page-checkout {
    justify-content: center;
    margin-top: 30px;
    bottom: 0;
    align-items: center;
    gap: 10px;
}

#cart-checkout {
    width: 150px;
    height: 35px;
    border: 1px solid black;
    line-height: 35px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
}

#cart-page-subtotal {
    font-size: 30px;
}

.cart-page-item {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    gap: 10px;
}

.small-image {
    background-color: rgb(11, 69, 87);
    height: 150px;
    width: 150px;
}

.cart-page-name-price {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}

.cart-page-manufacturer {
    text-align: left;
    margin-left: 15px;
}

.cart-page-count {
    margin-top: 20px;
    margin-left: 15px;
}

.edit-button,
.cart-page-count-input {
    width: 30px;
    text-align: center;
}

.delete-button {
    width: 100px;
    margin-left: 10px;
}